@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-top: 100px;
  background-color: lightgray;
}

h1 {
  background-color: #fff;
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  height: 80px;
  color: rgb(6, 133, 218);
  box-shadow: 0 1px 8px 0 #3d3d3d99;
  z-index: 300;
}

h1 span:first-child {
  background-color: #d3d3d3;
  border-radius: 50%;
  display: inline-block;
  width: 32px;
  height: 32px;
}

h1 span:nth-child(2) {
  text-decoration: underline rgb(6, 133, 218);
}

#books {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
}

.book {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  min-width: 300px;
  margin: 20px;
  box-shadow: 0 0 10px 0 #bebebe, 1px 1px 3px 0 #9c9c9c;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  flex-grow: 0;
}

.book-image {
  width: 100px;
}

.btn {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color:#fff;
  font-weight: 900;
  cursor: pointer;
  color: #fff;
  margin: 5px;
}

.btn:hover{
  box-shadow: 0 0 3px 0 rgb(71, 71, 71) ;
}

.btn-active {
  background-color: rgb(6, 133, 218);
}

.btn-danger {
  background-color: rgb(218, 6, 6);
}

.btn-inactive {
  background-color: #555;
}

.full {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  background-color: lightgray;
}

.full:nth-of-type(2) {
  margin-bottom: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  min-width: 400px;
  box-shadow: 0 0 10px 0 #bebebe, 1px 1px 3px 0 #9c9c9c;
  background-color: #fff;
}

.form div {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  display: block;
  font-weight: 900;
  opacity: 0.75;
  margin-bottom: 5px;
  align-self: flex-start;
  margin-left: 5%;
}

.form input {
  border-radius: 8px;
  border: 1px solid #aaa;
  box-sizing: border-box;
  padding: 3px 5px;
  width: 90%;
}

.form .btn {
  align-self: center;
}

#close-form {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: rgb(218, 6, 6);
}

.hidden-form {
  display: none;
}

.footer {
  width: 100%;
  background-color: #000;
  color: rgb(6, 133, 218);
  box-sizing: border-box;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.footer a {
  color: inherit;
  margin-left: 5px;
  color: #fff;
}

.footer a i {
  margin-right: 2px;
}